@import "tailwindcss";

:root {
  --background: var(--color-soft-white);
  --foreground: var(--color-soft-black);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-soft-white: oklch(0.9646 0.0017 67.8);
  --color-soft-black: oklch(0.3211 0 0);
  --color-bg-dark: oklch(0.3211 0 0);
  --color-primary-dark: oklch(0.4202 0.0087 268.45);
  --color-secondary-dark: oklch(0.5178 0.0185 239.39);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-bg-dark);
    --foreground: var(--color-soft-white);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
